body {
    font-family: tahoma;
    background-color: #f9f9f9;
    margin: 0;
  }
  
  .navbar {
    overflow:hidden;
    background-color: #FFFDFA;
    max-height: 104px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: #f71111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    cursor:pointer;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #f71111;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #f71111;
    color: aliceblue;
    cursor: pointer;
    
  }
  /* i:hover{
    transform: rotate(180deg);
  } */
/* .logopic{
  width: 3%;
  height: ;
  display: flex;
  justify-content: left;
} */
.homelogo{
  /* width: 35px;
  height: 35px; */
  width: 100%;
    max-width: 100px;
    height: 100%;
    object-fit:cover;
    
}

  i{
    margin-left: 7px;
    float: right;
  }
  .logreg a{
    float: right;
    text-decoration: none;
    font-size:xx-large;
  }
  .log a{
    background-color: #f71111;
    color:aliceblue;
    
  }
 

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f71111;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropright-content {
    position: absolute;
    top: 0;
    left: 100%;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
  }
  
  .dropright-content a {
    background-color: #f1f1f1;
  }
  
  .dropright-content a:hover {
    background-color: #f71111;
    color: aliceblue;
  }
  
  .inner-dropdown:hover .dropright-content {
    display: block;
  }
  p{
    margin: 0;
  }
  form{
   
  }