
<footer>
    <div class="row primary">
      <div class="column about">
          <h3>Connect</h3>
          <p>
            <i class="fa-sharp fa-solid fa-location-dot" aria-hidden="true"></i>   Istanbul,Küçükçekmece,Beşyol
          </p>
          <div class="social">
            <a href="https://tr-tr.facebook.com/IAUKampus/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com/IAUKampus?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/iaukampus/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://tr.linkedin.com/school/istanbul-aydin-university/"><i class="fa-brands fa-linkedin-in"></i></a>
              
          </div>
      </div>
  
      <div class="column link">
          <h3>Links</h3>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/overview">Overview</a></li>
              <li><a href="/contactus">Contact us</a></li>
              <li><a href="/aboutus">About us</a></li>
          </ul>
      </div>
  
      <div class="column logrog">
        <h3>Join us</h3>
        <ul>
            <li><a href="/login">Login</a></li>
            
           
        </ul>
    </div>
  
    <div class="column good">
      <h2>You're in good hands</h2>
    </div>
  
  
  </div>
    
  </footer>