<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Graduation project">
    <meta name="author" content="Ibrahim Mnaimne">
   
    <title>protectnow | Profile</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="assets/web-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" /> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/getinsurance.css">
</head>
<body>

  <section class="top">

    <ul class="nav">
   <li>
     <div class="logo">
       <a href="/"> <img id="logoimg"src="/assets/new-logo.png" alt="protectnow">protectnow</a>
     </div>
   </li>
   
   <li>
     <div class="toggle">
         <a href="#"><i class="fa-solid fa-bars"></i></a>
     </div>
   </li>
     <ul class="menu">
         <li><a href="/">Home</a></li>
         <li><a href="/profile">Profile</a></li>
         
                         
     </ul>
     <ul class="logreg">
        <li class="reg"><a href="/logout">Logout</a></li>
      <% if (locals.user) { %>
         
        <li class="log"><a href="/profile">
          <% if (user.picture) { %>
            <figure>
            <img  src="<%= user.picture %>" >
          </figure>
          <% } %>
        </a>
        </li>
        
    <% } else { %>
      <li class="log"><a href="/login">Login</a></li>
      <li class="reg"><a href="/signup">Register</a></li>
      <% } %> 
     
     </ul>
  
   </ul>
  </section>
  <div class="welcome"><h1>Welcome <%= user.nickname %></h1></div>
  <div class="welcome"><h3>Choose insurance and get your report</h3></div>
<!-- 
  <div class="form-container">
    <form class="contact-form">
        <h2>Send us an email</h2>
        <label for="name">Name:</label><input type="text" name="name" id="name" placeholder="Full name"><br>
        <label for="name">Email:</label><input type="email" name="email" id="email" placeholder="example@gmail.com"><br>
        <label for="name">Subject:</label><input type="text" name="subject" id="subject" placeholder="Subject"><br>
        <textarea id="message" placeholder="Message" ></textarea>
        <input type="submit" class="submit" value="Send">

    </form> -->

    <!-- <form id="form">
      <input type="text" id="text" />
      <button id="button" >generate</button>
    </form> -->

    <div class="insurancecontainer">
      <div class="innerinsurance">

        <div class="insurance one">
          <div class="insuranceimg">
            <img src="/assets/protectwhat.jpg" />
          </div>
          <div class="insurancedetails">
            <h2>Protect what you love</h2>
            <p>Includes:</p>
            <ul>
              <li>Car insurance</li>
              <li>Home insurance</li>
              <li>Travel insurance</li>            
            </ul>
           
          </div>
          <div id=zero style="display:none"></div>
          <div class="wrapper">
            <a href="#" target=_self onClick="show()"><span>Continue</span></a>
          </div>
          
          <div id=aa style="display:none">
          <a href=# target_self onClick="hide()" class=right>x</a>
          <form id="form 1">
            <label for="name">Name:</label>
            <input name="name" type="text" id="name" />
            <label for="surname">Surname:</label>
            <input name="surname" type="text" id="surname" />
            <label for="ID">ID:</label>
            <input name="ID" type="text" id="ID" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"  />
            <button id="button" >Generate</button>
          </form>
          </div>

        </div>
        <div class="insurance two">
          <div class="insuranceimg">
            <img src="/assets/protectwho.jpg" />
          </div>
          <div class="insurancedetails">
            <h2>Protect who you love</h2>
            <p>Includes:</p>
            <ul>
              <li>Savings and investments</li>
              <li>Life insurance </li>
              <li>Retirement planning</li>            
            </ul>
            
          </div>
          <div id=zero style="display:none"></div>
          <div class="wrapper">
            <a href="#" target=_self onClick="show()"><span>Continue</span></a>
          </div>
          
          <div id=aa style="display:none">
          <a href=# target_self onClick="hide()" class=right>x</a>
          <form id="form 2">
            <label for="name">Name:</label>
            <input name="name" type="text" id="name" />
            <label for="surname">Surname:</label>
            <input name="surname" type="text" id="surname" />
            <label for="ID">ID:</label>
            <input name="ID" type="text" id="ID" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"  />
            <button id="button" >Generate</button>
          </form>
          </div>
        </div>
        <div class="insurance three">
          <div class="insuranceimg">
            <img src="/assets/protectbusiness.jpg" />
          </div>
          <div class="insurancedetails">
            <h2>Protect your business</h2>
            <p>Includes:</p>
            <ul>
              <li>Products</li>
              <li>Insurance sustainibility</li>
              <li>Insurance risk insights</li>            
            </ul>
            
          </div>
          <div id=zero style="display:none"></div>
          <div class="wrapper">
            <a href="#" target=_self onClick="show()"><span>Continue</span></a>
          </div>
          
          <div id=aa style="display:none">
          <a href=# target_self onClick="hide()" class=right>x</a>
          <form id="form 3">
            <label for="name">Name:</label>
            <input name="name" type="text" id="name" />
            <label for="surname">Surname:</label>
            <input name="surname" type="text" id="surname" />
            <label for="ID">ID:</label>
            <input name="ID" type="text" id="ID" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"  />
            <button id="button" >Generate</button>
          </form>
          </div>
        </div>
        <div class="insurance four">
          <div class="insuranceimg">
            <img src="/assets/employees.jpg" />
          </div>
          <div class="insurancedetails">
            <h2>Protect your employees</h2>
            <p>Includes:</p>
            <ul>
              <li>Mobile employees</li>
              <li>Protection around the world</li>
                          
            </ul>
           
          </div>
          <div id=zero style="display:none"></div>
          <div class="wrapper">
            <a href="#" target=_self onClick="show()"><span>Continue</span></a>
          </div>
          
          <div id=aa style="display:none">
          <a href=# target_self onClick="hide()" class=right>x</a>
          <form id="form 4">
            <label for="name">Name:</label>
            <input name="name" type="text" id="name" />
            <label for="surname">Surname:</label>
            <input name="surname" type="text" id="surname" />
            <label for="ID">ID:</label>
            <input name="ID" type="text" id="ID" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"  />
            <button id="button" >Generate</button>
          </form>
          </div>
        </div>
        <div class="insurance five">
          <div class="insuranceimg">
            <img src="/assets/protecthealth.jpg" />
          </div>
          <div class="insurancedetails">
            <h2>Protect your health</h2>
            <p>Includes:</p>
            <ul>
              <li>Physical health</li>
              <li>Mental health</li>
              <li>Social health</li>            
            </ul>
            
          </div>
          <div id=zero style="display:none"></div>
          <div class="wrapper">
            <a href="#" target=_self onClick="show()"><span>Continue</span></a>
          </div>
          
          <div id=aa style="display:none">
          <a href=# target_self onClick="hide()" class=right>x</a>
          <form id="form 5">
            <label for="name">Name:</label>
            <input name="name" type="text" id="name" />
            <label for="surname">Surname:</label>
            <input name="surname" type="text" id="surname" />
            <label for="ID">ID:</label>
            <input name="ID" type="text" id="ID" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"  />
            <button id="button" >Generate</button>
          </form>
          </div>
        </div>


      </div>

    </div>
    <button onclick="topFunction()" id="topBtn" title="Go to top"><i class="fa-solid fa-chevron-up  fa-xl" style="color: #fafafa;"></i></button>




  <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

  <script src="/js/main.js"></script>
  <script src="/js/pdf.js"></script>
  <script>
//     const contactform= document.querySelector('.contact-form')
   

// let name=document.getElementById('name');
// let email=document.getElementById('email');
// let subject=document.getElementById('subject');
// let message=document.getElementById('message');


// contactform.addEventListener('submit', (e)=>{
//     e.preventDefault();


//     let formData = {
//         name:name.value,
//         email:email.value,
//         subject:subject.value,
//         message:message.value
//     }

//     var doc = new jsPDF()

// doc.setFontSize(40)
// doc.text("Octonyan loves jsPDF", 35, 25)
// doc.addImage("examples/images/Octonyan.jpg", "JPEG", 15, 40, 180, 180)
// doc.save("testo.pdf")
    // let xhr=new XMLHttpRequest();
    // xhr.open('POST','/');
    // xhr.setRequestHeader('content-type','application/json');
    // xhr.onload = function(){
    //     console.log(xhr.responseText);
    //     if(xhr.responseText== 'success'){
    //         alert('email sent');
    //         name.value="";
    //         email.value="";
    //         subject.value="";
    //         message.value="";

    //     }else{
    //         alert('something went wrong')
    //     }
    // }

    // xhr.send(JSON.stringify(formData));


//     console.log(formData);
// })

window.jsPDF = window.jspdf.jsPDF;

var form=document.getElementById('form 1')
form.addEventListener('submit',function(event){
  event.preventDefault()

  //var logoimg='data:image/png;base64,'+Base64.encode('/assets/new-logo.png');
  var name =document.getElementById('name').value
  var surname =document.getElementById('surname').value
  var ID =document.getElementById('ID').value


  var doc = new jsPDF()
  doc.addImage("/assets/new-logo.png", 'PNG', 155, 5, 50, 50);
  doc.setTextColor("red");
  doc.setFontSize(22);
  doc.text("protecnow",160,60);

  doc.setTextColor("black");
  doc.setFont("helvetica", "bold");
  doc.setFontSize(19);
  doc.text("Name:", 2, 80);
  doc.setFont("courier", "normal");
  doc.setFontSize(17);
  doc.text(name,50,80);

  doc.setFont("helvetica", "bold");
  doc.setFontSize(19);
  doc.text("Surname:", 2, 90);
  doc.setFont("courier", "normal");
  doc.setFontSize(17);
  doc.text(surname,50,90);

  doc.setFont("helvetica", "bold");
  doc.setFontSize(19);
  doc.text("ID:", 2, 100);
  doc.setFont("courier", "normal");
  doc.setFontSize(17);
  doc.text(ID,50,100);





  doc.save("testo.pdf");
}
)
  </script>
  
</body>
</html>