<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Graduation project">
    <meta name="author" content="Ibrahim Mnaimne">
   
    <title>protectnow | Home</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="assets/web-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" /> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/test.css">
    

</head>
<body>
  
  <%- include('partials/header') -%>
  <div class="separator"></div>
 
  
<div class="header">
   <img src="/assets/pointing.png" >
  <p>Get an insurance in a blink of an eye</p> 
</div>

<% if (locals.user) { %>
         
  <div class="hand">
  
    <p>You successfuly logged in to your account</p>
    <img src="/assets/inshand.png" alt="get isnurance">
    
  </div>
<% } else { %>
  <div class="hand">
  
    <p>Start by <a href="/login">logging in </a> to your account to access and subscribe to insurances you need</p>
    <img src="/assets/inshand.png" alt="get isnurance">
    
  </div>

<% } %>

<div class="quote">
<div class="innerquote">
  <img src="/assets/insquote.png">
<h2><em>"Insurance is not about being pessimistic, it's about being prepared. It's a way to protect yourself and your loved ones from the unexpected, and to have peace of mind knowing that you are covered no matter what life throws your way."</em></h2>
</div>
</div>


<div class="browse">
  <div class="innerbrowse">
    <h2>Browse all services we provide and protectnow</h2>
    <img src="/assets/browsehand.png">
  
  </div>
  </div>

  <button onclick="topFunction()" id="topBtn" title="Go to top"><i class="fa-solid fa-chevron-up  fa-xl" style="color: #fafafa;"></i></button>

  <div class="prepared">
    <p><strong>Be prepared</strong></p>
  </div>

  <%- include('partials/footer') -%>



<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script src="/js/main.js"></script>

<!-- Start of ChatBot (www.chatbot.com) code -->
<script type="text/javascript">
  window.__be = window.__be || {};
  window.__be.id = "647bc375770d090007ad5a33";
  (function() {
      var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
      be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
  })();
</script>
<!-- End of ChatBot code -->
</body>    
</html> 