body{
    margin: 0;
    font-family: tahoma;
    background-color: #fffdfa;
  }
  
  a,a.hover{
    text-decoration: none;
  }
  /* nav start */
 
 
  #topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #ef4b3f;
    color: white;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,.6);
    padding: 15px;
    height: 70px;
    width:70px;
    border-radius: 50%;
    
  }
  
  #topBtn:hover {
    opacity: 0.6;
  }
 
 

  .top{}
  .nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fffdfa;
  max-height: 59px;
  position: sticky;
  }
  .nav li{
    float: left;
  }
  .nav a{
    color: #111;
  }
  .nav a:hover{
    color: #ef4b3f;
  }
  .logo{
    flex:1;
  }
  .logo a{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #ef4b3f;
  
  }
  .logo a:hover{
    color:#ef4b3f;
  }
  .logo img{
    width:50px;
    margin-right: 10px;
  }
  .menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: x-large;
  
    /* position: fixed; */
    margin-left: 250px;
  width: 1000px;
  }
  .menu li{
    padding: 15px 10px;
    margin:0px 10px;
    color: #ee0000;
  }
  
  /* dropdown */
  .dropdown {
  
    overflow: hidden;
  }
  .dropdown i{
    margin-left: 7px;
    margin-top: 5px;
    float: right;
  }
  
  .dropdown .dropbtn {
    font-size: x-large;
    border: none;
    outline: none;
    color: black;
  
    background-color: inherit;
    font-family: inherit;
  
  }
  .dropdown .dropbtn:hover {
   color: #ef4b3f;
   cursor:pointer;
  }
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: large;
  
  
  }
  
  .dropdown-content a:hover {
    background-color: #ef4b3f;
    color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropright-content {
    position: absolute;
    top: 0;
    left: 100%;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
    font-size: large;
  }
  
  .dropright-content a {
    background-color: #f1f1f1;
  }
  
  .dropright-content a:hover {
    background-color: #ef4b3f;
    color: aliceblue;
  }
  
  .inner-dropdown:hover .dropright-content {
    display: block;
  }
  
  /* end */
  
  .logreg{
  
    align-items: center;
    list-style: none;
    font-size: x-large;
    float: right;
    margin-top: -61px;
  }
  .logreg li{
    float: right;
    padding: 15px 10px;
  }
  .log{
    background-color: #ef4b3f;
    z-index: 1001;
    text-align: center;
  
  }
  .log a{
    color: #fffdfa;
  }
  .log:hover  a{
    color: #fff;
  }
  .log:hover{
    color:#fff;
    width: 80px;
    
  }
  .toggle{
    font-size: 40px;
  
    display: none;
  }
  i{
    color: black;
  
  }
 
  
  /* nav end */
  
  
  
  /* header-start */
  
  .header{
  
    /* position:absolute; */
    display: flex;
    clear: both;
    align-items: center;
  overflow: hidden;
  justify-content: space-around;
  
    width: 100%;
    height: 450px;
    background-color: #ef4b3f;
  }
  .header img{
   height: 650px;
   width: 650px;
  object-fit: cover;
    float:right;
    border-radius: 50%;
  
   
  }
  .header p{
    position:static  ;
    color: #fffdfa;
    /* 
    margin-left: 70px;
    */
    font-size: 20px;    
  
    /* margin: 0 auto; */
  
  }
  .header.three p{
    font-size: 50px;
  }
  .header.three h2{
    font-size: 70px;
  }

  .headerinfo{
    display: flex;
    flex-direction: column ;
    align-items: center;
    width: 50%;
  }
  .headerinfo h2{
    color: #fffdfa;
    font-weight: 900;

  }


  
  /* header-end */

  
  /* subheader-start */
  .subheader{
    padding-top:30px ;
    padding-bottom: 90px;
    display: flex;
    width: 100%;
    max-height: 1250px;
   align-items: center;
   justify-content: center;
    background-color: #fffdfa;
  }
  
 
  .innersub{
    width: 75%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center  ;
    text-align: center;
  }
  .innersub p {
    font-size: x-large;
    color: #030258af;
  }
 



 



/* subheader-end */


/* abtus-start */

.abtus{
  width: 100%;
  max-height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  /* overflow: scroll; */
}
.abtus h2{
color: #030258e0;
padding-bottom: 50px;
}
.innerabtus{
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  height: 350px;
}
.innerabtus p{
  color: #030258a8;
  font-size: x-large;
}
.innerabtus h2{
  padding-bottom: 20px;
  color: #030258ab;
  
}

.abtuscont{
  width: 25%;
height: 200px;

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
box-shadow: 0 10px 25px rgba(0,0,0,.1);
padding: 15px;


}
#us{
  transition: all 2s;
}
#us2{
  transition: all 3s;
}
#us3{
  transition: all 3.5s;
  
}

a:hover.abtuscont{
  background-color: #ef4b3f;
 
}






  .hide {
    opacity: 0;
    margin-top: 80px;
  }
  .show {
    opacity: 1;
    margin-top:0;
    
  }
  /* abtus-end */



 /* logn-start */

.logn{
width: 100%;
height:250px;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
background-color: #ef4b3f;

}
.logn p{
font-size: xx-large;
color: #fffdfa;
}
.logn a{
  color:#fffdfa;
  text-decoration:underline;
  font-weight: 900;
}
.logn a:hover{
  color:#e00404;
}
.logn.two{
  background-color: #fffdfa;
}
.logn.two p{
  color: #030258e0;

}


  /* logn-end */





  

/* scroll-start */
.scroll{
  width: 100%;
  height: 580px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px ;
  padding-top: 20px ;
  
}
.container{
  display: flex;
  flex-wrap: nowrap;
  width: 65%;
  height: 580px ;
  overflow: hidden;
  overflow-x: scroll;
  
  scroll-behavior: smooth;
  
  
}
.container::-webkit-scrollbar {
  display: none;
}
.scrollimg{
  width: 100%;
  display: flex;
  
  list-style: none;
  
  
}
.scrollimg li{
  width: 456px; ;
  padding: 5px;
  
}
.scrollimg a{
  max-height: 300px;
  overflow: hidden;
  
}
figure{
  width:366px;
  height: 500px;
  overflow: hidden;
}
.inf{
 
 /* overflow: hidden; */
 display: flex;
 top:-120px;
 position:relative ;
 
 justify-content: center;
 align-items: center;
}
.innerinf{
 padding: 20px;
  width:266px;
  height: 500px;
 display: block;
 background-color: #fffdfa;
 
}
.innerinf p{
 
}
figure img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: width 2s, height 2s;

  /* box-shadow: inset 0 -8px 6px -6px #1010ff; */
}
figure img:hover{
width: 110%;
height: 110%;
}
.inf{

}

.scrollimg a:hover .inf{
top: -250px;
transition-duration: 1s;
}
/* scroll-end */



/* prepared-start */
.prepared{
  width: 100%;
  text-align: center;
  background-color: #fffdfa;
  }
  .prepared p{
  color: #ef4b3f;
  font-size: 60px;
  }
  
  /* prepared-end */

  
  
  /* footer-start */
  
  footer {
  background-color: #ef4b3f;
  color: #fffdfa;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  }
  footer * {
  box-sizing: border-box;
  border: none;
  outline: none;
  }
  .row {
  padding: 1em 1em;
  }
  .row.primary {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1.5fr 2fr;
  align-items: stretch;
  }
  .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
  }
  h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
  }
  .column ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  }
  .column li:not(:first-child) {
  margin-top: 0.8em;
  }
  .column ul li a {
  color: #a7a7a7;
  text-decoration: none;
  }
  .column ul li a:hover {
  color: #bf4b3f;
  }
  .about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
  }
  
  div.social {
  display: flex;
  justify-content: space-between;
  font-size: 2.1em;
  flex-direction: row;
  margin-top: 1em;
  float: left;
  align-items: baseline;
  width: 70%;
  }
  .social i {
  color: #bac6d9;
  }
  .social i:hover{
  color: #bf4b3f;
  }
  




  @media screen and (max-width: 1150px) {
    .nav{
        display: block;
  
  
  
  
        max-height: 1000px;
    }
    .menu{
      margin-top: 15px;
        display: none;
  
    }
    .menu.active{
        display: block;
        position: static;
  
       margin-top: 65px;
       margin-left: 0px;
        padding-bottom: 150px;
  
    }
    .menu.active li{
      float: none;
    }
    .toggle{
      display: block;
      /* top:8px;
  
      float: left; */
  
    }
    .logo{
        flex:1;
  
    }
    .logo a{
  
        font-size: 0px;
    }
  
    .dropright-content {
      position: absolute;
      top: 0;
      left: 90%;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: none;
  
    }
    .dropright-content a{
      font-size: small;
    }
    .inner-dropdown:hover .dropright-content {
      display: block;
      font-size: small;
    }
    ul.logreg{
      float:right ;
        margin-top: -6px;
  
        /* right: 0px;
        top: -23px; */
    }
  
  
    /* header */
    .header img{
      display: none;
  
    }
    .header {
      
      text-align: center;
    }
    .header p{
      position:static  ;
      color: #fffdfa;
      font-size: 15px;
     margin:0;
  
  
      /* margin: 0 auto; */
    }
    .headerinfo.three h2{
      font-size: xx-large;
    }
    .headerinfo.three p {
      font-size: x-large;
    }



    .innersub{
      width:100%;
    }
    .subheader{
      height: 350px;
    }
    .subheader.three{
      height:1400px ;
  
    }
    .two{
      height: 1170px;
    }
    /* .subheader{
      max-height: 900px;
      padding-top:10px ;
      display: block;
    } */

    .container{
      overflow: hidden;
      overflow-x: scroll;
    
    scroll-behavior: smooth;
    width: 80%;
    }
    .inf{
      margin-top:310px;
    }
    figure{
      height: 300px;
      width: 300px;
    }
    .scrollimg {
      width: 100%;
      display: flex;
      list-style: none;
      justify-content: flex-start;
      padding-left: 0px;
    }
    .scroll {
      width: 100%;
      height: 580px;
      display: flex;
      justify-content: flex-start;
    }

    .logn p{
      font-size: x-large;
      color: #fffdfa;
      }




  
  
  
  
  
  footer{
  height: 450px;
  }
  .row.primary {
  grid-template-columns: 1fr;
  
    display: flex;
    justify-content: end;
    padding: 2px;
  /* display: flex;
  flex-direction: ;
  */
  } 
  /* .link{
  width: 100px;
  } */
  .column{
  display: flex;
  flex-direction: column;
  }
  .about{
  
  }
  .about i{
    padding: 4px;
    
  }
  .column.logrog{
  display: none;
  }
  .column.good{
  display: none;
  }

  .inf{
    top:-300px;
  }
  

  .innerabtus {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    height: 565px;
    flex-direction: column;
    align-items: center;
}
.abtuscont{
  width: 100%;
}
#us{
  transition: all 3s;
}
#us2{
  transition: all 4s;
}
#us3{
      transition: all 4.5s;
  
}
.logn.two{
  height: 200px;
}







  .scroll {
    width: 100%;
    height: 580px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 60px;
  }

  }
  
  
  