body{
    margin: 0;
    font-family: tahoma;
    background-color: #ef4b3f;
  }

  a,a.hover{
    text-decoration: none;
  }
  /* nav start */
 
 
    #topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    
    float: left;
    margin-left: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #ef4b3f;
    color: white;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,.6);
    padding: 15px;
    height: 70px;
    width:70px;
    border-radius: 50%;
    
  }
  .separator{
    background-color: #fffdfa;
    width: 100%;
    height: 57px;
  }
  
  #topBtn:hover {
    opacity: 0.6;
  }

  .top{}
 .top{
    position: fixed;
    width: 100%;
    
  }
 .nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fffdfa;
  max-height: 59px;
  position: sticky;
  }
  .nav li{
    float: left;
  }
  .nav a{
    color:  #696868da;
  }
  .nav a:hover{
    color: #ef4b3f;
  }
  .logo{
    flex:1;
  }
  .logo a{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #ef4b3f;

  }
  .logo a:hover{
    color:#ef4b3f;
  }
  .logo img{
    width:50px;
    margin-right: 10px;
  }
  .menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: x-large;

    /* position: fixed; */
    margin-left: 250px;
width: 1000px;
  }
  .menu li{
    padding: 15px 10px;
    margin:0px 10px;
    color: #ee0000;
  }


  .logreg{
    display: flex;
    height: 59px;
    align-items: center;
    list-style: none;
    font-size: x-large;
    float: right;
    margin-top: -61px;
    
  }
  .logreg li{
    
    float: right;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .log{

    
    z-index: 1001;
    text-align: center;
    display: flex;
    justify-content: space-between;
  
  }
  .log a{
    color: #fffdfa;
  }
  figure{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: width 2s,height 1s;
  }
  .log img{
    object-fit: cover;
  width: 100%;
  height: 100%;
  
    
  }
  .log:hover  figure{
    color: #fff;
   height: 45px;
    width: 45px;
  }
  .log:hover{
    color:#fff;
    
    
  }

  .reg{
    text-decoration: underline;
    color: #ef4b3f;
  }

  .toggle{
    font-size: 40px;

    display: none;
  }
  i{
    color: black;

  }

.welcome{
  text-align: center;
  color: #fffdfa;
}


  @media screen and (max-width: 1150px) {
    .nav{
        display: block;




        max-height: 1000px;
    }
    .menu{
      margin-top: 15px;
        display: none;

    }
    .menu.active{
        display: block;
        position: static;

       margin-top: 65px;
       margin-left: 0px;
        padding-bottom: 150px;

    }
    .menu.active li{
      float: none;
    }
    .toggle{
      display: block;
      /* top:8px;

      float: left; */

    }
    .logo{
        flex:1;

    }
    .logo a{

        font-size: 0px;
    }

    .dropright-content {
      position: absolute;
      top: 0;
      left: 90%;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: none;

    }
    .dropright-content a{
      font-size: small;
    }
    .inner-dropdown:hover .dropright-content {
      display: block;
      font-size: small;
    }
    ul.logreg{
      float:right ;
        margin-top: -6px;

        /* right: 0px;
        top: -23px; */
    }


  



.column{
display: flex;
flex-direction: row;
}
.about{

}
  .about i{
    padding: 4px;
    
  }
.column.logrog{
  display: none;
}
.column.good{
  display: none;
}
 
/* insurances */

.insurancecontainer{
 
}
.innerinsurance{
  
  flex-direction: column;
  
}
.insurance{
  font-size: 7px;
  max-height: 900px;
}
.insuranceimg{
  height: 228px;
}
.insuranceimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.insurancedetails{
 
  padding-left: 0px;
  height: 237px;
}
.insurancedetails li{

}
.insurancedetails h2 {
 font-size: 13px;
}
.insurancedetails ul{
  padding-left: 10px;
  font-size: 13px;
}

/* insurances */

/* wrapper */

.wrapper{
  margin-left: -126px;
  margin-top: 176px;
  width: 62px;
}



  }








  /* nav end */

.profilemain{
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  height: 700px;
}
.profilemain img{
  width:340px;
  height: 350px;
  border: 3px solid #ef4b3f;
  border-radius: 50%;
}
.profilemain span{
  font-size: xx-large;
  color: #ef4b3f;

}
.profilemain p{
  font-size: x-large;
}


/* insurances */

.insurancecontainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerinsurance{
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.insurance{
  background-color: #fffdfa;
  display: flex;
  flex-direction: column;
  width:33%;
 
  height: 700px;
  max-height: 5000px;
  margin: 20px;
  border-radius: 5px;
  font-size: 18px;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgb(207, 11, 11) 0px -3px 0px inset;
}
.insuranceimg{
  width:100%;
  max-height:400px;
  overflow: hidden;
}
.insuranceimg img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.insurancedetails{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  height: 237px;
}
.insurancedetails h2{
  text-align: center;
}

/* insurances */

/* wrapper */

.wrapper{
  display: flex;
    transform: translate(230%, 0%);
    max-width: 153px;
}

.wrapper a{
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  border: 2px solid #ef4b3f;
  background-color: #ef4b3f;
  border-radius: 10px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.wrapper a span{
  position: relative;
  z-index: 2;
}

.wrapper a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  transition: all .35s;
  border-radius: 9px;
}

.wrapper a:hover{
  color: #ef4b3f;
}

.wrapper a:hover:after{
  width: 100%;
}

/* wrapper */

/* popup */

#zero {
  top: 0;
  left: 0;
  position: fixed;
  background: black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  pointer-events: none;;
}

.aa {  
 
  position:fixed;
  left:0;
  right:0;
  margin:0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 400px;
  height: auto;
  padding: 15px;  
  background: #fff;
  box-sizing: content-box;
  border: 0px solid black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgb(207, 11, 11) 0px -3px 0px inset;


}
.aa form{
  padding-top: 30px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}
.aa form input{
  font-size: 20px;
  margin-bottom: 13px;
}
#aa form label{
 
}
.aa h3{
  color: #ef4b3f;
}
#button{
  margin-top: 10px;
  background-color: #ef4b3f;
  border: none;
  border-radius: 10px;
  color: #fffdfa;
  font-size: 25px;
  width: 156px;
    height: 39px;
  text-align: center;
  cursor: pointer;
}
#button:hover{
  opacity: 0.5;
}

.right {
  float: right;
  font-size: 27px;
  text-align: center;
  width: 40px;
  margin-left: -42px;
  height: 40px;
}
.right:hover{
  background-color: #ef4b3f;
  color: #fffdfa;
}

/* popup */

