body{
    margin: 0;
    font-family: tahoma;
    background-color: #fffdfa;
  }

  a,a.hover{
    text-decoration: none;
  }
  /* nav start */
 
  nav{
    background-color: #fffdfa;
    padding: 0px 0px;

    display: flex;
    align-items: center;
    max-height: 58px;
    width: 100%;
    position: fixed;
  }
  nav a{
    color:black;
  }
  nav a:hover{
    color:#ef4b3f;
  }
  .logo{
    flex:1;
  }
  .logo a{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #ef4b3f;

  }
  .logo a:hover{
    color:#ef4b3f;
  }
  .logo img{
    width:50px;
    margin-right: 10px;
  }
  .menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: x-large;
    
    position: fixed;
    margin-left: 250px;

  }
  .menu li{
    padding: 15px 10px;
    margin:0px 10px;
  }

  /* dropdown */
  .dropdown {

    overflow: hidden;
  }
  .dropdown i{
    margin-left: 7px;
    margin-top: 5px;
    float: right;
  }

  .dropdown .dropbtn {
    font-size: x-large;
    border: none;
    outline: none;
    color: black;

    background-color: inherit;
    font-family: inherit;

  }
  .dropdown .dropbtn:hover {
   color: #ef4b3f;
   cursor:pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: large;
  }

  .dropdown-content a:hover {
    background-color: #ef4b3f;
    color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropright-content {
    position: absolute;
    top: 0;
    left: 100%;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
    font-size: large;
  }

  .dropright-content a {
    background-color: #f1f1f1;
  }

  .dropright-content a:hover {
    background-color: #ef4b3f;
    color: aliceblue;
  }

  .inner-dropdown:hover .dropright-content {
    display: block;
  }

  /* end */

  .logreg{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: x-large;
  }
  .logreg li{
    padding: 15px 10px;
  }
  .log{
    background-color: #ef4b3f;

  }
  .log a{
    color: #fffdfa;
  }
  .log a:hover{
    color:#fff;
    font-size: xx-large;
  }

  .toggle{
    font-size: 40px;

    display: none;
  }
  i{
    color: black;

  }
  @media screen and (max-width: 1150px) {
    nav{
        display: block;
        position: relative;
        padding: 5px 0px;
        

        max-height: 1000px;
    }
    .menu{
        margin-top: 15px;
        display: none;

    }
    .menu.active, .toggle{
        display: block;
        position: static;
        margin:0px;

    }
    .toggle{
        position: absolute;
        top:8px;
        /* right: 250px;  */
        float: left;

    }
    .logo{
        flex:1;
        margin-left: 50px;
    }
    .logo a{
        display:block;
        align-items: center;
        font-size: 0px;
    }
    
    .logreg{
        position: absolute;
        right: 0px;
        top: -23px;
    }
    

    /* header */
    .header img{
      display: none;

    }
    .header {
      align-items: center;
    }



  }

  /* nav end */




  .header{

    /* position:absolute; */
    display: block;

    width: 100%;
    height: 350px;
    background-color: #ef4b3f;
  }
  .header img{
   height: 100%;
   width: 25%;

    float:left;

  }
  .header p{
    color: #fffdfa;
    font-size: 70px;
    margin: 0 auto;
    margin-top: 85px;
  }